<div class="audioContainer">
    <div id="audioImg">
        <img class="cover">
    </div>
    <div id="audioPlayer">
        <div id="audioInfo">
            <span class="artist"></span> - <span class="title"></span>
        </div>
        <input id="volume" type="range" min="0" max="10" value="5">
        <br>
        <div id="audioButtons">
            <button id="prev"></button>
            <button id="play"></button>
            <button id="pause"></button>
            <button id="stop"></button>
            <button id="next"></button>
        </div>
        <div class="clearfix"></div>
        <div id="tracker">
            <div id="progressbar">
                <span id="progress"></span>
            </div>
            <span id="duration"></span>
        </div>
        <div class="clearfix"></div>
        <ul id="playlist">
            <li
                    data-song="cafe del mar - chillout.mp3"
                    data-cover="{{ asset('/images/nature.jpg') }}"
                    data-artist="cafe-del-mar"
                    data-src="https://dl-web.dropbox.com/get/Eternell.mp3?_subject_uid=569562688&duc_id=dropbox_duc_id&w=AAAQI7dttmoKmdBrWq04wd4agJvcSpKTt3DIrHNdDXUS-A"
            >chillout.mp3</li>
            <li
                    data-song="cafe del mar - chillout.mp3"
                    data-cover="{{ asset('/images/nature.jpg') }}"
                    data-artist="cafe-del-mar"
                    data-src="https://dl-web.dropbox.com/get/Eternell.mp3?_subject_uid=569562688&duc_id=dropbox_duc_id&w=AAAQI7dttmoKmdBrWq04wd4agJvcSpKTt3DIrHNdDXUS-A"
            >chillout.mp3</li>
            <li
                    data-song="cafe del mar - chillout.mp3"
                    data-cover="{{ asset('/images/nature.jpg') }}"
                    data-artist="cafe-del-mar"
                    data-src="https://dl-web.dropbox.com/get/Eternell.mp3?_subject_uid=569562688&duc_id=dropbox_duc_id&w=AAAQI7dttmoKmdBrWq04wd4agJvcSpKTt3DIrHNdDXUS-A"
            >chillout.mp3</li>
            <li
                    data-song="cafe del mar - chillout.mp3"
                    data-cover="{{ asset('/images/nature.jpg') }}"
                    data-artist="cafe-del-mar"
                    data-src="https://dl-web.dropbox.com/get/Eternell.mp3?_subject_uid=569562688&duc_id=dropbox_duc_id&w=AAAQI7dttmoKmdBrWq04wd4agJvcSpKTt3DIrHNdDXUS-A"
            >chillout.mp3</li>
        </ul>
    </div>
</div>